.productus{
    height: 520px;
    background: no-repeat center ;
    background-size:cover;
    
  }
  .productus >div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productus> div h2{
  width: 390px;
  height: 70px;
  font-family: 'cairo';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 65px;
  background-color: #EBB454;
  color:black;
  }

  div > .st1{
    width: 70%;
    height: 70%;
   z-index: -10px;
  }
  div > .st2{
  width: 70%;
  height: 70%;
  z-index:10%;
  margin-top: -10%;
  margin-left: -30%;
  }
  div > .st3{
    width: 70%;
    height: 70%;
   z-index: -10px;
   margin-left:-30%;
  }
  div > .st4{
  width: 70%;
  height: 70%;
  z-index:10%;
  margin-top: -10%;
  }
  .textstyle{
font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 40px;
text-align: right;
color: #000000;
  }

  .category{
    margin-top: 80px;
    color: #000000;
    button{
           background-color: transparent;
           font-size: 22px;
           border: 0;
           cursor: pointer;
           padding: 8px 27px 7px;  
       }
       button:hover, button:focus{
        border-bottom:3px solid #EBB454;
       }
       button, select {
           text-transform: none;
       } 
    }
    .card-body{
      font-family: 'Cairo';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 60px;
    }
    .showpro{
      background-color: #D9D9D9;
    
      img{
        width:55%;
        height: 85%;
      }
  }
   .showpro:hover{
    box-shadow: 7px 10px 7px black;
    transform: translateY(-2.1rem);
        transition: 2s;
  }

  .expert > a{
    margin-top: 50px;
    width: 340px;
    font-family: 'cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 65px;
    background-color: #EBB454;
    color:black;
    text-decoration: none;
  }


  @media screen and (max-width:420px) {
    .productus{
      height: 300px;
    }
    .productus> div h2{
      width: 238px;
      height: 30px;
      font-size: 18px;
      line-height: 30px;
      }
    }