<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/beautiful-environment-landscape-green-field 1 (2).png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">من نحن</h2></div>
     </div>

     <div class="row d-flex justify-content-center text-center mt-4">

        <div id="vision" class="col d-flex justify-content-center align-items-center textstyle">

            <div class="col-md-10">
                <div class="mb-4"><p>عن سنابل</p></div>
                شركة سنابل ش.م.م تأسست منذ عام 2020 بموجب قانون الشركات المصري رقم 159 لسنة 1981، هذا ويمتلك مساهمى شركة سنابل خبرة عملية لأكثر من 25 عاما في المجال الزراعي من  خلال امتلاك وادارة مجموعة من المزارع مما جعل المساهمين يبادروا في انشاء الشركة لخدمة القطاع الزراعي.  توفر سنابل حلولًا زراعية متكاملة ذكية للمزارعين في مكان واحد وذلك بهدف تطوير وتحسين كفائة المحاصيل الزراعية المختلفة وذلك من خلال إمتلاك سنابل للتقنيات الحديثة والصديقة للبيئة بالإضافة إلى ما تتميز به من خبرات علمية وعملية وقدرتها على جذب الكفاءات العلمية للعمل لديها والتعاون معها لتطبيق أحدث وأذكى الممارسات الزراعية بالمشاركة مع المنظمات الزراعية الرائدة، مما أتاح لشركة سنابل أن تبتكر منهجا جديداً للحلول الزراعية المتكاملة. (SIAS)
            </div>
        </div>
        <div class="col">
       <div> <img class="st3" src="../../../assets/Mask group (2).png"/></div>
       <div><img  class="st4" src="../../../assets/Mask group (3).png"/></div>
       </div>
      </div>

      <div class="row mt-4 about" style="background-image: url('../../../assets/Mask group (6).png');" >
        <div class="col-5 border d-flex justify-content-center align-items-center opac">
            <div class="col-9 ">
               <p>رؤيــــــــــتنا</p>
               <div class="mt-4">

               أن نكون الشريك الأكثر موثوقية في القطاع الزراعي  بما نقدمه من الحلول الذكية المتكاملة والتي تتضمن الخدمات والإنتاج والإستثمار الزراعي في مصر والأسواق الناشئة مع تقديم الحلول المثلى التي تفوق تطلعات شركاءنا  في المجال الزراعي.
              </div>
            </div>
         </div>
        </div>


        <div class="row mb-4 about2"style="background-image: url('../../../assets/Mask group (7).png');" >
          <div class="col-5"></div>
          <div class="col-7 border d-flex justify-content-center align-items-center opac">
              <div class="col-9">
                 <p>مهمــــــتنا</p>
                 <div>
                  تزويد المزارعين بالحلول الزراعة الذكية المتكاملة التي تشمل الدعم التجاري والفني ، وخدمات المختبرات ، والأسمدة والمبيدات ، ونظم الري الحديث ، والطاقة الشمسية ومستلزمات الإنتاج من أجل تحسين الجودة والإنتاجية والتكلفة للمحاصيل الزراعية مع احترام لوائح الصحة والسلامة والبيئة.
<div>و فى سبيل تحقيق ذلك تقوم شركة سنابل بالتعاون مع الخبراء المتخصصين وتطبيق أفضل الممارسات الزراعية المعاصرة بالشراكة مع المنظمات الزراعية الرائدة في مصر.</div>

                 </div>

                </div>
           </div>
          </div>

          <div class="emp mb-1" id="employees">مجـــلس الأدارة</div>

        <div class="row d-flex justify-content-center " >
            <div class="col-4 card p-4 border-0" Ligth *ngFor="let emp of EmployeesList; let i=index">
                <img class="card-img-top"  [src]="emp.url" alt="Card image cap">
                <div class="card-body p-0" >
                  <p class="card-text txt1">{{emp.name}}</p>
                  <p class="card-text txt2">{{emp.position}}</p>
                </div>
            </div>
        </div>
</div>
