.productus{
    height: 520px;
    background: no-repeat center ;
    background-size:cover;

  }
  .productus >div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productus> div h2{
  width: 340px;
  height: 70px;
  font-family: 'cairo';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 65px;
  background-color: #AA9767;
  ;
  color:black;
  }

  div > .st3{
    width: 60%;
    height: 60%;
   z-index: -10px;
   margin-left:-30%;
  }
  div > .st4{
  width: 60%;
  height: 60%;
  z-index:10%;
  margin-top: -10%;
  }

  .textstyle{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    text-align: right;
    color: #000000;
    p{
      font-size: 29px;
      font-weight: bold;
    }
      }


      .about{
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 40px;
        text-align: right;
        height: 432px;
        color: white;
        background-size: cover;
        .opac{
            background: rgba(82, 121, 55, 0.56);
        }
        p{
          font-size: 30px;
          font-weight: 600px;
        }
      }
      .about2{
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 40px;
        text-align: right;
        height: 525px;
        color: white;
        background-size: cover;
        .opac{
            background: rgba(82, 121, 55, 0.56);
        }
        p{
          font-size: 30px;
          font-weight: 600px;
        }
      }

       .emp{
        font-family: 'Cairo';
        font-style: normal;
        font-weight:700;
        font-size: 24px;
        line-height: 40px;
       }
      .card-body{
        font-family: 'Cairo';
        font-style: normal;
        font-weight:300;

       .card-text{
        position: absolute;
        bottom: 40px;
        right: 45px;
       }
       .txt1{
        font-size: 28px;
        color: white;
        line-height: 67px;
       }
       .txt2{
        font-size: 16px;
        color: black;
        line-height: 45px;
       }
      }
      .card:hover{
        box-shadow: 10px 15px 10px black;
        transform: translateY(-2.1rem);
        transition: 2s;
      }

      @media screen and (max-width:420px) {
        .productus{
          height: 300px;
        }
        .productus> div h2{
          width: 238px;
          height: 30px;
          font-size: 18px;
          line-height: 30px;
          }
          .story{
            margin: 0 !important;
          }
          .textstyle{
            display: inline-block;
            font-size: 10px;
            line-height: 15px;
            p{
              font-size: 12px;
            }
           }
           div > .st3{
            width: 70%;
            height: 70%;
           z-index: -10px;
           margin-top: 100px;
          }
          div > .st4{
          width: 70%;
          height: 70%;
          z-index:10%;
          margin-top: -20px;
          }

          .about{
            font-size: 10px;
            line-height: 15px;
            height: 200px;
            p{
              font-size: 15px;
              margin-bottom: 8px;
            }
            .opac{
                background: rgba(82, 121, 55, 0.56);
            }
          }
          .about2{
            font-size: 10px;
            line-height: 15px;
            height: 225px;
            color: white;
            background-size: cover;
            p{
              font-size: 15px;
              margin-bottom: 8px;
            }
            .opac{
                background: rgba(82, 121, 55, 0.56);
            }
          }
          .card{
            padding: 14px 5px !important;
          }
          .card:hover{
            box-shadow: 5px 6px 5px black;
            transform: translateY(-1.6rem);
            transition: 2s;
          }
          .card-body{
            font-weight:300;

           .card-text{
            bottom: 10px;
            right: 15px;
           }
           .txt1{
            font-size: 10px;
            line-height: 15px;
           }
           .txt2{
            font-size: 6px;
            color: black;
            line-height: 25px;
           }
          }
          .emp{
            font-weight:700;
            font-size: 18px;
            line-height: 40px;
           }
           .opac{
            padding: 0;
           }
        }
