
$Main:#006937;
$Second:#EBB455;
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background:#EBDC54;
}


footer {
  background: #EBDC54;
  font-weight: 400;
}


input:focus ~ label,  input:valid ~ label{
  font-size: 0.5em;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
  outline: 0;
}
input {
  border: 0;
  width: 80%;
  color: black;
  border-bottom: 2px solid $Main;
  background-color: transparent;
  padding-top: 14;
  margin-top: 10;
  font-size: 11px;
  line-height: 30px
}
.styled-input {
  float: right;
  margin-bottom: 0.15rem;
  position: relative;
  width: 100%;
}
.styled-input label {
  color: $Main;
  padding: 0.4rem 20px 0rem 0px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 10px;
}

input:focus { outline: 0; }

input:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

.card_button{
  box-sizing: border-box;
  width: 105px;
  height: 33px;
  position: relative;
  right: 90px;
  top:2px;
  background: #006937;
  border: 3px solid rgba(235, 180, 84, 0.8);
  color: white;
}

h5{
font-size: 20px;
text-align: right;
color: #000000;
line-height: 160%;
}
.list-unstyled{
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-align: right;
  color: #000000;
  line-height: 160%;
  padding: 0;
}
img {
width: 250px;
height: 80px;
}
.info{
font-family: 'Inter';
font-size: 10px;
list-style: none;
padding: 0;
}
.info i{
  color: #006937;
}
.social{
  margin-top: 5px;
}
 .social li {
  display: inline-block;
  position: relative;
  margin:2px}
  .social li a {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 5;
    background-color: transparent;
    color: $Main;
    border:1px solid $Main
   }
   .social li a > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
