<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
      <div class="row">
          <div class="col-md-3">
            <h5 class=" mb-3">النشرة البريدية</h5>
            <form #letter="ngForm" class="card_form" (ngSubmit)="SaveLetter(letter.value)">
              <div class="styled-input ">
                <input #PerName="ngModel" type="text" [(ngModel)]="newLetter.name" name="name"
                 [class.is-valid]="PerName.valid" [class.is-invalid]="PerName.invalid && PerName.touched" required />
                <label>الاسم</label>
                </div>
                <div class="styled-input ">
                  <input  type="email" #PerEmail="ngModel" [(ngModel)]="newLetter.email" name="email"
                   [class.is-valid]="PerEmail.valid" [class.is-invalid]="PerEmail.invalid && PerEmail.touched" required />
                  <label>البريد الالكتروني</label>
                  </div>
              <button [disabled]="PerEmail.invalid &&PerName.invalid"  type="submit" class="card_button">اشترك</button>
            </form>
        </div>

          <div class="col-sm col">
              <h5 class=" mb-3">عن سنابل</h5>
              <ul class="list-unstyled">
                  <li><a routerLink='/About'>من  نحن</a></li>
                  <li><a routerLink='/About' fragment="employees">مجلس الادارة</a></li>
                  <li><a routerLink='/About' fragment="vision">الرؤية والقيم</a></li>
                  <li><a routerLink="#">العملاء والانجازات</a></li>
              </ul>
          </div>
          <div class="col-sm col">
            <h5 class=" mb-3">منتجاتنا</h5>
            <ul class="list-unstyled">
                <li><a routerLink='/Fertilizers & pesticides'>المبيدات والأسمدة</a></li>
                <li><a routerLink='/Irrigation system supply'>نظم الري الحديثة</a></li>

                <li><a routerLink='/Solar energy solutions'>حلول الطاقة الشمسية</a></li>
            </ul>
        </div>
          <div class="col-sm col">
              <h5 class=" mb-3">الخدمات</h5>
              <ul class="list-unstyled">
                  <li><a routerLink='/Consulting & Advising'>الاستشارات  فنية</a></li>
                  <li><a routerLink='/Feasibility studies'>دراسة الجدوي</a></li>
                  <li><a routerLink='/Farm Management'>ادارة المزارع</a></li>

              </ul>
          </div>

          <div class="col-md-3">
            <img src="../../../assets/sanabel-logo.png"/>
           <div >
            <ul class="info">
              <li ><i class="fa fa-map-marker" aria-hidden="true"></i> 15 رامو. الدور التاسع طريق النصر مدينة نصر القاهرة.</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> Tel: +202 2305 4802</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: info@sanabel.com</li>
            </ul>
          </div>
          <ul class="list-unstyled social">
            <li><a href="#"><span class="icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
            <li><a href="#"><span class="icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
            <li><a href="#"><span class="icon-youtube"><i class="fa fa-youtube" aria-hidden="true"></i></span></a></li>
            <li><a href="#"><span class="icon-whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a></li>
          </ul>
        </div>

        </div>
    </div>
 </footer>
