

<footer class="footer-20192">
    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <a href="#" class="footer-logo">Furnish</a>
              <p class="copyright">
                <small>&copy; 2022</small>
              </p>
            </div>
            <div class="col-sm">
              <h3>عن سنابل</h3>
              <ul class="list-unstyled links">
                <li><a href="#">من نحن</a></li>
                <li><a href="#">مجلس الإدارة</a></li>
                <li><a href="#">الرؤية والقيم</a></li>
                <li><a href="#">العملاء والإنجازات</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h3>منتجاتنا</h3>
              <ul class="list-unstyled links">
                <li><a href="#">الممبيدات والأسمدة</a></li>
                <li><a href="#">نظم الري الحديثة</a></li>
                <li><a href="#">أدوات ومعدات</a></li>
                <li><a href="#">حلول الطاقة الشمسية</a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h3>الخدمات</h3>
              <ul class="list-unstyled links">
                <li><a href="#">الاستشارات الفنية</a></li>
                <li><a href="#">دراسات الجدوي</a></li>
                <li><a href="#">ادارة المزارع</a></li>
                <li><a href="#">معامل تحاليل التربة</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <img src="../../../assets/Logo.png" width="100%"/>
              <ul class="list-unstyled social">
                <li><a href="#"><span class="icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                <li><a href="#"><span class="icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                <li><a href="#"><span class="icon-youtube"><i class="fa fa-youtube" aria-hidden="true"></i></span></a></li>
                <li><a href="#"><span class="icon-whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </footer>