<div class="container-fluid  m-0 cairo">

 <div class="row d-flex justify-content-center text-center mb-2 productus" >
    <div class="col-5  p-4   align-items-center border-0">
        <h2>{{ProductItem.name}}</h2>
        <p>{{ProductItem.price}}</p>
        <p>{{ProductItem.description}}</p>
    </div>
    <div class="col-5  p-4   align-items-center border-0">
        <img  [src]="ProductItem.url" width="300px" height="350px" alt="image cap">
    </div>
 </div>
 <div class="row d-flex justify-content-center text-center ">
    <button (click)="goBack()" class="btn btn-secondary col">Go Back</button>
  </div>
</div>
