pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font: inherit;
  font-size: 20px;
  font-weight: 300;

  line-height: 156.9%;
  padding-top: 5px;
  padding-bottom: 5px;

}


.btn {
  height: 50px;
  font-size: 18px;
  background: rgba(82, 121, 55, 0.8);
  border: 1px solid rgba(235, 180, 84, 0.8);

}
.btn:hover{
  border:1px solid rgba(82, 121, 55, 0.8);
  background:  rgba(235, 180, 84, 0.8);
}

h2{
  width: 438px;
  height: 70px;
  font-size: 28px;
  line-height: 65px;
  font-weight: bold;
}
