@import url('../feasibility-study/feasibility-study.component.scss');
@import url('../about/about.component.scss');

.textstyle{
    font-size: 21px;
    h4{
        font-weight: bold;
    }
    ul li{
        list-style: none;
    }
}
.marintro{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .introduction{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 156.9%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
.opac{
background-color: black;
opacity: 0.9;
ul {
li{
    font-size: 18px;  
}
}
ul li:hover{
    color: #EBB454;
}
}
.card{
    height: 450px;
}
.card-body{
    font-size: 18px;
    text-align: center;
}
.hicard{
    border: 0;
    height: 450px;
}
.card_button{
    box-sizing: border-box;
    width: 170px;
    height: 33px;
    position: relative;
    top:2px;
    background: #006937;
    color: white;  
    border: 0;
  }
.card_button:hover{
  background: white;
  color:  #006937;  
}
.Academybtn{
    margin-bottom: 150px;
}

.titlelab{
    font-weight: bold;
    font-size: 24px;
  }
@media screen and (max-width:420px) {
    .marintro{
        font-size: 16px;
    }
    .opac{
        height: 200px;
        padding: 0;
        ul li{
            padding: 0;
            font-size: 8px;
            list-style: none;
        }
        div div{
            margin-top: -12px !important;
        }
        }
        .card_button{
            width: 90px;
            height: 28px;
             font-size: 13px;
          }

          .titlelab{
 
            font-size: 13px;
          }
    
          ul {
            padding-right: 7px;
            li{
                font-size: 9px;
            }
          }
          .icon{
            width: 0.6rem;
            height: 0.6rem;
          }
          .st1, .st2{
            margin-top: 50px;
          }
          .marintro{
            margin-top: 20px;
            margin-bottom: 20px;
          }
          .card{
            height: 190px;
            margin: 7px;
            .img1{
               width: 8rem !important;
               height: 8rem !important;
            }
        }
        .card-body{
            font-size: 10px;
            width: 100%;
        }
        .hicard{
            height: 190px;
        }
        .card_button{
            width: 170px;
            height: 33px;
            top:2px;
          }

        .Academybtn{
         margin-bottom: 80px;
        }
}