$Main:#527937;
$Second:#EBB455;
$gray:#DDDDDD;
$light-gray:#EEEEEE;
header{
  height: 94px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
  font-family: 'cairo';
  img{

    height: 80px;
  }
  nav{
    .nav-link,a{
        color: $Main;
        font-size:18px;
        font-family: 'Cairo';
        font-style: normal;
    }
    .nav-link:hover{
      color: $Second;
  }
  .dropdown-menu {
    width:1rem;
    text-align: center;
    justify-content: center;
    margin-left: -20px;
    li a{
      font-size: 15px;
    }
    li a:active{
      background-color: transparent;
    }
  }

}

}
      .colorFont {
        color: black;
        font-size: 20px;
        filter:drop-shadow(10px 10px 10px $Second);
    }
    .offcanvas {
      width: 50%;
  }


@media screen and (max-width:420px) {
 header{
  img{
       height: 60px;
  }
 }
}
