@import url('../feasibility-study/feasibility-study.component.scss');

.card{
    border: none;
}

@media screen and (max-width:420px) {

    .ListLab{
        padding: 0 !important;
        margin: 0 !important;
    }
.logo1{
    width: 60px;
    height: 60px;
}
.logo2{
    width: 60px;
    height: 35px;
    margin-right: 5px;
}
.logo3{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.logo4{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 13px;
}
.logo5{
    width: 100px;
    height: 90px;
}
}