
<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/andscape-green-field 1.png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">شركاءالنجاح</h2></div>
     </div>
  
     <div class="row d-flex justify-content-center text-center align-items-center">
        <div class="col-2 ListLab card p-2 m-2">
            <img class="logo1" src="../../../assets/BASF-Logo 1.png" width="190rem" height="190rem"/>
        
        </div>

        <div class="col-2 ListLab card p-2 m-2">
            <img class="logo2" src="../../../assets/Jinko_Solar_logo1.png" width="140rem" height="135rem"/>
          
           
        </div>
        <div class="col-2 ListLab card p-2 m-2">
            <img class="logo3" src="../../../assets/5a05b1e3b932554f30d3d6ca 1.png" width="145rem" height="150rem" style=" margin-top:-2px;"/>
        
           
        </div>
        <div class="col-2 ListLab card p-2 m-2">
            <img class="logo4" src="../../../assets/Neisco-Egypt-Egypt-22685-1495101727 1.png" width="150rem" height="150rem" style="margin-top:15px;"/>
         
        </div>

        <div class="col-2 ListLab card p-2 m-2">
            <img class="logo5" src="../../../assets/1741764_logo_1482338170_n 1.png" width="200rem" height="190rem" style="margin-top:-0px ;"/>
      
        </div>
     </div>

  </div>
  