
<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/partners slider.png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">شــــــركاء النجاح</h2></div>
     </div>
     <div class="row d-flex justify-content-center text-center ">
        <div class="col-8 introduction marintro">
            شركة مساهمة تأسست عام 2020 ، بموجب القانون 159 ، وبدأت العمل في فبراير 2021.
            رأس المال المدفوع 5 مليون جنيه ورأس المال المصرح به 50 مليون جنيه.
         </div>
     </div>

     <div class="row d-flex justify-content-center shadowtologo align-items-center" >
        <div class="col-2 card p-4 m-3 border align-items-center ">
            <img  class="img1" src="../../../assets/BASF-Logo 1.png"  width="140rem" height="135rem"  alt="Card image cap">
        </div>
     
        <div class="col-2 card p-4 m-3 border align-items-center">
            <img class="img2" src="../../../assets/Jinko_Solar_logo1.png" width="155rem" height="100rem" alt="Card image cap">
         </div>
         <div class="col-2 card p-4 m-3 border align-items-center">
            <img class="img3" src="../../../assets/Neisco-Egypt-Egypt-22685-1495101727 1.png"  width="130rem" height="140rem" alt="Card image cap">
         </div>
      <div class="col-2 card p-4 m-3 border align-items-center">
        <img class="img4" src="../../../assets/1741764_logo_1482338170_n 1.png"  width="200rem" height="170rem" alt="Card image cap">
      </div>
    </div>

    <div class="row d-flex justify-content-center shadowtologo align-items-center" >
        <div class="col-2 card p-4 m-3 border align-items-center ">
            <img  class="img1" src="../../../assets/BASF-Logo 1.png"  width="140rem" height="135rem"  alt="Card image cap">
        </div>
     
        <div class="col-2 card p-4 m-3 border align-items-center">
            <img class="img2" src="../../../assets/Jinko_Solar_logo1.png" width="155rem" height="100rem" alt="Card image cap">
         </div>
         <div class="col-2 card p-4 m-3 border align-items-center">
            <img class="img3" src="../../../assets/Neisco-Egypt-Egypt-22685-1495101727 1.png"  width="130rem" height="140rem" alt="Card image cap">
         </div>
      <div class="col-2 card p-4 m-3 border align-items-center">
        <img class="img4" src="../../../assets/1741764_logo_1482338170_n 1.png"  width="200rem" height="170rem" alt="Card image cap">
      </div>
    </div>
    <div class="row d-flex justify-content-center shadowtologo align-items-center mb-4" >
        <div class="col-2 card p-4 m-3 border align-items-center ">
            <img  class="img1" src="../../../assets/BASF-Logo 1.png"  width="140rem" height="135rem"  alt="Card image cap">
        </div>
     
        <div class="col-2 card p-4 m-3 border align-items-center">
            <img class="img2" src="../../../assets/Jinko_Solar_logo1.png" width="155rem" height="100rem" alt="Card image cap">
         </div>
         <div class="col-2 card p-4 m-3 border align-items-center">
            <img class="img3" src="../../../assets/Neisco-Egypt-Egypt-22685-1495101727 1.png"  width="130rem" height="140rem" alt="Card image cap">
         </div>
      <div class="col-2 card p-4 m-3 border align-items-center">
        <img class="img4" src="../../../assets/1741764_logo_1482338170_n 1.png"  width="200rem" height="170rem" alt="Card image cap">
      </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center text-center contact mt-4">
        <div class="col-5 d-flex justify-content-center align-items-center">
            <div class="col-6 info">
             <p class="p2">خلـــق نتـــــــائــج عظيمة للعمــلاء
             سبيلنا للاستمرار.</p>
            </div>
        </div>
        <div class="col-6">
            <button class="card_button">تواصل معنا</button>

        </div>
    </div>

  </div>
  