$Main:#537A38;
$Second:#EBB455;

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
}
.btn {
  color:white;
  box-sizing: border-box;
  width: 130px;
  height: 40px;
  font-size: 20px;
  position: relative;
  background: transparent;
  background: rgba(82, 121, 55, 0.8);
  border: 3px solid rgba(235, 180, 84, 0.8);
  border-radius: 0;
  padding: 0;
}
  .btn-card{
  color:white;
  border:0;
  width: 115px;
  height: 35px;
  font-size: 18px;
  background: #EBB454;
  border-radius: 0;
  padding: 0;
    }
    .card-text{
      font-size: 11.5px;
    }
    .card-img-top{
      border-radius: 0%;
    }

h2{
  width: 438px;
  height: 70px;
  font-size: 28px;
  line-height: 65px;
 background-color: $Second;
}
.carousel-item > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-item{
  height: 520px;
  background: no-repeat center;
  background-size:cover;

}
.contact{
  background-image: url('../../../assets/mango-wooden-table.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  color: white;
  font-family: 'cairo';
  .service{
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 156.9%;
  }
  .menutitle{
    font-size: 30px;
    line-height: 90px;
  }
  p{
    line-height: 30px;
  }
  ul{
    color: $Second;
    line-height: 30px;
  }
}
.formcont{
  p{
    font-size: 18px;
  }
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.5em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: right;
  margin-bottom: 0.15rem;
  position: relative;
  width: 100%;
}
.styled-input label {
  color: white;
  padding: 0.4rem 10px 0.5rem 10px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 100%;
}

input,
textarea {
  padding: 10px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  min-height: 7em;
}
.submit-btn{
  width:130px;
}
.introduction{
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 156.9%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.productus{
  height: 360px;
  background: linear-gradient(0deg, rgba(82, 121, 55, 0.8), rgba(82, 121, 55, 0.8));
  background: no-repeat center;
  background-size: cover;
}
.productus >div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productus> div h2{
width: 419px;
height: 70px;
background: rgba(255, 255, 255, 0.7);

font-size: 28px;
line-height: 156.9%;

margin: 0;
}
.article{
font-size: 32px;
line-height: 90px;
}



@media screen and (max-width:420px) {
  .btn {
    width: 60px;
    height: 20px;
    font-size: 10px;
    background: rgba(82, 121, 55, 0.8);
    border: 1px solid rgba(235, 180, 84, 0.8);
  }
  .carousel-item{
    height: 300px;
  }
  h2{
    width: 238px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  .introduction{
    font-size: 12px;
    line-height: 140%;
  }
  .contact{
    height: 250px;
    .service{
      font-size: 18px;
      height: 100%;
      }
    .formcont{
      margin-top:30px !important;
     }
  .menutitle{
    margin: 0 !important;
    font-size: 13px;
    line-height: 0px;
  }
  hr{
    margin: 0 !important;
  }
  .introduction{
    padding: 0 !important;
    padding-top: 8px !important;
    margin: 0 !important;
  }
  p, li{
    font-size: 10px;
    line-height: 15px;
  }
  ul{
    line-height: 15px;
  }
}
.styled-input label {
  font-size: 10px;
}
.styled-input{
  text-align: center;
  margin-bottom: -0.2rem;
}
.styled-input.wide {
  width: 100%;
  margin-bottom: 0.1rem;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.5em;
  top: -3px;
}
input,
textarea {
  padding: 10px;
  width: 90%;
  height: 1.4rem;
  font-size: 0.5rem;
}
.submit-btn{
  width:60px;
}
.productus{
  height: 160px;
  background: linear-gradient(0deg, rgba(82, 121, 55, 0.8), rgba(82, 121, 55, 0.8));
  background: no-repeat center;
  background-size: cover;
}
.productus >div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productus> div h2{
width: 200px;
height: 40px;
background: rgba(255, 255, 255, 0.7);
font-family: 'cairo';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 100%;
color:#527937;
margin: 0;
}
.card{
  width: 110px !important;
  img{
  height: 6rem !important;
  }
  .card-text{
    font-size: 8px;
  }
  .btn-card{
    width: 35px;
    height: 15px;
    font-size: 5px;
  }
}
}
