
<div class="container-fluid  m-0 cairo">
  <!-- carsole  -->
  <div class="row d-flex justify-content-center text-center">
    <section class="hero carousel-hero p-0 m-0 ">
      <div id="homeHerocarousel" class="carousel " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2">
        </div>
        <div class="carousel-inner ">
    
          <div class="carousel-item active " style="background-image: url('../../../assets/Rectangle 24.png');">
    
            <div class="text-center align-items-center">
              <h2 class="hero-headline white text-center">زود انتــــــــــــاجية ارضـــــــك</h2>
              <h2 class="hero-headline white text-center">واحصل علي افضل محصول</h2>
            </div>
    
          </div> <!-- close item -->
    
          <div class="carousel-item " style="background-image: url('../../../assets/Rectangle 24.png')">
            <div class="text-center align-items-center">
              <h2 class="hero-headline white text-center">زود انتــــــــــــاجية ارضـــــــك</h2>
              <h2 class="hero-headline white text-center">واحصل علي افضل محصول</h2>
             </div>
          </div> <!-- close item -->
    
        </div> <!-- close inner -->
    
        <button class="carousel-control-prev" type="button" data-bs-target="#homeHerocarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeHerocarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </section>

  </div>
  
   <div class="row d-flex justify-content-center text-center p-4">
     <div class="col-8 introduction">
   هدفنا امداد اصحاب المزارع بالحلول الزراعية المتكاملة في مكان واحد (الدعم التسويقي والفني، والتحاليل الزراعية،الأسمدة والمبيدات، نظم الري الحديثة،الطاقة الشمسية،مستلزمات زراعية) بهدف ترشيد الانتاجية والتكلفة مع مراعاه قواعد الصحة،السلامة والبيئة من خلال فريق عمل متخصص يقوم بتطبيق احدث التطبيقات الزراعية الناجحة والشراكة مع المنظمات الزراعية الرائدة.
     </div>
   </div>

   <div class="row d-flex  contact " style="background-image: url('../../../assets/mango-wooden-table.jpg');">
    
    <div  class="col d-flex align-items-center  service">
      <div class="row justify-content-center">
       <div class="col-md-8 col-sm-10">
         <p class="">من مكان واحد تستطيع الحصول علي جميع الخدمات الزراعية لتحسين انتاج المزارع ومساعدة المستثمرين.</p> 
          <div>
            <hr style="width: 50px; border: 4px solid white" >
            <hr style="margin-top:-20px"><br>
          <p class="pt-2 menutitle">خدماتنا ومنتجاتنا</p>
            <ul class="pt-2 introduction">
              <li>دراسة الجدوي الاقتصادية</li>
              <li>ادارة الـــــــــــــــمـــــــزارع</li>
              <li>استــــــــــشارات فنـــــــية</li>
              <li>معـــــمل تحاــليل التـــربة</li>
            </ul>
            <div class="d-flex justify-content-end">
            <a class="btn "  role="button"
            rel="nofollow" target="_blank" href="">اعرف المزيد</a>
          </div>
        </div>
           
      </div>

    </div>
   </div>

    <div class="col" style="margin-top:15%">
      
        <div class="row justify-content-center">
          <div class="col-md-10">
          <h6 >فريقنا مستعد لإستقبال استفساراتكم</h6>
          </div>
          <div class=" col-md-5">
            <div class="styled-input">
              <input type="text" required />
              <label>الاسم</label> 
            </div>
          </div>
          <div class="col-md-5">
            <div class="styled-input" style="float:right;">
              <input type="text" required />
              <label>التليفون</label> 
            </div>
          </div>

          <div class=" col-md-10">
            <div class="styled-input wide">
              <input type="text" required />
              <label>موضوع الاستفسار</label> 
            </div>
          </div>
          <div class=" col-md-10" >
            <div class="styled-input wide">
              <textarea required></textarea>
              <label>اكتب سؤالك</label>
            </div>
          </div>
          <div class="col-xs-8 col-md-10 d-flex justify-content-end ">
            <div class="btn submit-btn">ارسل</div>
          </div>
      
      
          </div>
        </div>
  
   </div>

   <div class="row d-flex justify-content-center text-center mt-2 mb-2 productus"style="background-image: url('../../../assets/Rectangle 11.png');" >
    <div class="text-center align-items-center">
      <h2  class="text-center p-2">نظـــم ري حديثة</h2></div>
   </div>

   <div class="row d-flex justify-content-center text-center mt-2 mb-2 productus"style="background-image: url('../../../assets/Rectangle 16.png');" >
    <div class="text-center align-items-center">
      <h2  class="text-center p-2">أسمدة و مبيدات زراعية</h2></div>
   </div>


   <div class="row d-flex justify-content-center text-center mt-2 mb-2 productus"style="background-image: url('../../../assets/Rectangle 18.png');" >
    <div class="text-center align-items-center">
      <h2  class="text-center p-2">حلول الطاقة الشمسية</h2></div>
   </div>

   <div class="row d-flex justify-content-center text-center mt-2 article" >
      <p class="text-center p-0 m-0">مقالات وأخبار</p>
  </div>

  <div class="row d-flex justify-content-center text-center" >
      <div class="card m-4  p-0 border-0" style="width: 24rem;" Ligth *ngFor="let art of ArticleList; let i=index">
          <img class="card-img-top" height="170rem" [src]="art.url" alt="Card image cap">
          <div class="card-body p-0" >
            <p class="card-text">{{art.description}}</p>
            <div class="d-flex justify-content-end">
            <button class="btn-card">اعرف المزيد</button>
          </div>
          </div>
      </div>
  </div>

  <div class="row d-flex justify-content-center text-center mt-2 article" >
    <p class="text-center p-0 m-0">شــــــركاء النجاح</p>
</div>

  <div class="row d-flex justify-content-center text-center partner" >
    <div class="p-1" style="width: 14rem;"><img src="../../../assets/BASF-Logo 1.png"/></div>
    <div class="p-1" style="width: 14rem;"><img src="../../../assets/Jinko_Solar_logo1.png"/></div>
    <div class="p-1" style="width: 14rem;"><img src="../../../assets/5a05b1e3b932554f30d3d6ca 1.png"/></div>
    <div class="p-1" style="width: 14rem;"><img src="../../../assets/Neisco-Egypt-Egypt-22685-1495101727 1.png"/></div>
    <div class="p-1" style="width: 14rem;"><img src="../../../assets/1741764_logo_1482338170_n 1.png"/></div>

  </div>

</div>
 

    <script>
    var myCarousel = document.querySelector('#myCarousel')
  var carousel = new bootstrap.Carousel(myCarousel)
    </script>