
<div class="container-fluid  m-0 cairo">
  <div class="carousel-text text-center">
    <h2 class="hero-headline white text-center">زيادة الكفاءة والحصةإلانتاجية</h2>
    <h2 class="hero-headline white text-center">وتــــــــرشيد تكالــــيف إلانتاج</h2>
  </div>
  <!-- carsole  -->
  <div class="row d-flex justify-content-center text-center">

    <section class="hero carousel-hero p-0 m-0 ">

      <div id="homeHerocarousel" class="carousel " data-bs-ride="carousel">

        <div class="carousel-indicators">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5">
          <input type="radio" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6">

        </div>
        <div class="carousel-inner ">


    <!-- close item -->
        <div class="carousel-item active" style="background-image: url('../../../assets/Slider01.png');"></div>
    <!-- close item -->
         <div class="carousel-item" style="background-image: url('../../../assets/Slider02.jpg')"></div>
   <!-- close item -->
         <div class="carousel-item" style="background-image: url('../../../assets/Slider03.jpg')"></div>
   <!-- close item -->
         <div class="carousel-item" style="background-image: url('../../../assets/Slider04.jpg')"></div>
   <!-- close item -->
         <div class="carousel-item" style="background-image: url('../../../assets/Slider05.jpg')"></div>
   <!-- close item -->
         <div class="carousel-item" style="background-image: url('../../../assets/Slider06.jpg')"></div>
        </div> <!-- close inner -->

        <button class="carousel-control-prev" type="button" data-bs-target="#homeHerocarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#homeHerocarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </section>

  </div>

   <div class="row d-flex justify-content-center text-center ">
     <div class="col-8 introduction marintro">
      توفر سنابل حلول زراعية متكاملة ذكية للمزارعني في مكان واحد وذلك بهدف تطوير وتحسني كفائة المحاصيل الزراعية
      المختلفة وذلك من خالل إمتالك سنابل للتقنيات الحديثة والصديقة للبيئة باإلضافة إىل ما تتمزي به من خربات علمية وعملية
      وقدرتها عىل جذب الكفاءات العلمية للعمل لديها والتعاون معها لتطبيق أحدث وأذكى الممارسات الزراعية     </div>
   </div>

   <div class="row d-flex  contact " style="background-image: url('../../../assets/mango-wooden-table.jpg');">

    <div  class="col d-flex align-items-center  service">
      <div class="row justify-content-center">
       <div class="col-md-8 col-sm-10 ">
         <p class="">من مكان واحد تستطيع الحصول علي جميع الخدمات الزراعية لتحسين انتاج المزارع ومساعدة المستثمرين.</p>
          <div>
            <hr style="width: 50px; border: 4px solid white" >
            <hr style="margin-top:-17px"><br>
          <p class="pt-2 menutitle">خدماتنا ومنتجاتنا</p>
            <ul class="pt-2 introduction">
              <li>دراسة الجدوي الاقتصادية</li>
              <li>ادارة الـــــــــــــــمـــــــزارع</li>
              <li>استــــــــــشارات فنـــــــية</li>
              <li>معـــــمل تحاــليل التـــربة</li>
            </ul>
            <div class="d-flex justify-content-end">
            <a class="btn "  role="button"
            rel="nofollow" target="_blank" href="">اعرف المزيد</a>
          </div>
        </div>

      </div>

    </div>
   </div>

    <div class="col formcont" style="margin-top:15%">

        <div class="row justify-content-center">
          <div class="col-md-10">
          <p>فريقنا مستعد لإستقبال استفساراتكم</p>
          </div>
          <div class=" col-md-5">
            <div class="styled-input">
              <input type="text" required />
              <label>الاسم</label>
            </div>
          </div>
          <div class="col-md-5">
            <div class="styled-input" style="float:right;">
              <input type="text" required />
              <label>التليفون</label>
            </div>
          </div>

          <div class=" col-md-10">
            <div class="styled-input wide">
              <input type="text" required />
              <label>موضوع الاستفسار</label>
            </div>
          </div>
          <div class=" col-md-10" >
            <div class="styled-input wide">
              <textarea required></textarea>
              <label>اكتب سؤالك</label>
            </div>
          </div>
          <div class="col-xs-8 col-md-10 d-flex justify-content-end ">
            <div class="btn submit-btn">ارسل</div>
          </div>


          </div>
        </div>

   </div>

   <div class="row d-flex justify-content-center text-center mt-2 mb-2 productus"style="background-image: url('../../../assets/Rectangle 11.png');" >
    <div class="text-center align-items-center">
      <h2  class="text-center p-2"><a href="/Irrigation system supply">نظـــم ري حديثة</a></h2></div>
   </div>

   <div class="row d-flex justify-content-center text-center mt-2 mb-2 productus"style="background-image: url('../../../assets/Rectangle 16.png');" >
    <div class="text-center align-items-center">
      <h2  class="text-center p-2"><a href="/Fertilizers & pesticides">أسمدة و مبيدات زراعية</a></h2></div>
   </div>

   <div class="row d-flex justify-content-center text-center mt-2 mb-2 productus"style="background-image: url('../../../assets/Rectangle 18.png');" >
    <div class="text-center align-items-center">
      <h2  class="text-center p-2"><a href="/Solar energy solutions">حلول الطاقة الشمسية</a></h2></div>
   </div>

   <div class="row d-flex justify-content-center text-center mt-2 article" >
      <p class="text-center p-0 m-0">مقالات وأخبار</p>
  </div>

  <div class="row d-flex justify-content-center text-center" >
      <div class="card  m-2 border-0 col-3"  Ligth *ngFor="let art of ArticleList; let i=index">
          <img class="card-img-top" height="170rem" [src]="art.url" alt="Card image cap">
          <div class="card-body p-0" >
            <p class="card-text">{{art.description}}</p>
            <div class="d-flex justify-content-end">
            <button class="btn-card">اعرف المزيد</button>
          </div>
          </div>
      </div>
  </div>
  <div id="partners" class="row d-flex justify-content-center text-center mt-2 article" >
    <p class="text-center p-0 m-0"> <a class="nav-link"  href="/partners">شــــــركاء النجاح</a></p>
    <!-- <a class="nav-link"  href="/partners">شركائنا</a> -->

</div>

<div class="container rounded">
  <!-- <div class="row align-items-center h-100">
    <div class="container rounded"> -->
  <div class="row d-flex justify-content-center text-center partner align-items-center" >
  <div class="slider col-6">
    <div class="logos">
        <div class="fab p-1 img1 " style="width: 14rem;"><img src="../../../assets/BASF-Logo 1.png" width="110rem" height="100rem"/></div>
        <div class="fab p-1 img2 " style="width: 14rem;"><img src="../../../assets/Jinko_Solar_logo1.png" width="110rem" height="70rem"/></div>
        <div class="fab p-1 img3 " style="width: 14rem;"><img src="../../../assets/5a05b1e3b932554f30d3d6ca 1.png" width="100rem" height="110rem" style=" margin-top:-15px;"/></div>
        <div class="fab p-1 img4 " style="width: 14rem;"><img src="../../../assets/Neisco-Egypt-Egypt-22685-1495101727 1.png" width="80rem" height="80rem" style="margin-top:5px;"/></div>
        <div class="fab p-1 img5 " style="width: 14rem;"><img src="../../../assets/1741764_logo_1482338170_n 1.png" width="135rem" height="120rem" style="margin-top:-10px ;"/></div>
    </div>
  </div>
</div>



</div>

    <script>
         var myCarousel = document.querySelector('#myCarousel')
         var carousel = new bootstrap.Carousel(myCarousel)
    </script>
