<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/irrigation.png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">نظم الري الحديثة</h2></div>
     </div>

     <div class="row d-flex justify-content-center text-center mb-4 mt-4">

          <div class="col-4">
            <div> <img class="st1" src="../../../assets/Mask group (4).png"/></div>
            <div><img  class="st2" src="../../../assets/Mask group (5).png"/></div>
          </div>

           <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            تؤمن شركة سنابل بأهمية منظومة الري الحديث كإحدى الركائز المهمة والأساسية لتحسين جودة وإنتاجية المحاصيل الزراعية والتي قد يغفل عنها الكثير من المزارعين لذلك قامت سنابل بالتعاون مع شرکة أجريماتکو الوکيل الحصري لشرکة إريتيك الإيطالية والمصنعة لخراطيم
            "نايل درب"...  بالإضافة إلى تعاون سنابل مع شرکة نياسکو المنتجة والمصنعة لکل المواد والمستلزمات للقطاع الزراعي.
            <br>
            تمتلك سنابل فريق عمل من المهندسن والفنيين الذين يتمتعون بالإحترافية والكفاءة لتقديم أفضل الخدمات وتوفير الدعم الفني الشامل للمزارع.

           </div>
     </div>

     <div class="row d-flex justify-content-center align-items-center ">
      <div class="category text-center col-8">
       <button (click)="showProducts(Supcat.id)" class=" col-3" *ngFor="let Supcat of SupCategoriesList" [value]="Supcat.id">{{Supcat.name}}</button>
   </div>

   </div>
   <hr style="width:64%; margin-left:18% !important; margin-right:18% ; margin-top:-0.2% !important;" />

   <div class="row mb-3 d-flex justify-content-center " >
    <div class="col-3 card p-4 pb-0 border-0"  Ligth *ngFor="let pro of ProductsList; let i=index">
      <div animationDuration="2000ms" class="d-flex justify-content-center align-items-center showpro">
      <img class="card-img-top"  [src]="pro.url" alt="Card image cap">
      </div>
        <div class="card-body p-0" >
          <p class="align-items-right p-0 m-0">{{pro.name}}</p>
        </div>
    </div>
    </div>

    <div class="row d-flex justify-content-center text-center expert mb-4" >

      <a routerLink='/ContactUS' routerLinkActive="active" class="text-center">اطلب الان منتجاتنا</a>
   </div>

   </div>


