
<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/andscape-green-field 1.png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">إدارة المزارع</h2></div>
     </div>
  
     <div class="row d-flex justify-content-center text-center mt-4">
       
          <div class="col-4 ">
            <div> <img class="st1" src="../../../assets/Mask group.png"/></div>
            <div><img  class="st2" src="../../../assets/Mask group (1).png"/></div>
          </div>
  
           <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            تتولى سنابل الإدارة التنظيمية والتشغيلية الشاملة من أجل ضمان وزيادة الربحية والإنتاج.
            <br>
            تقدم سنابل إدارة زراعية متكاملة ويتم احتساب اتعابها طبقا للانتاجية الفعلية .
                    
           </div>
     </div>
  
     <div class="row d-flex justify-content-center text-center mt-4">
       
      <div class="d-flex justify-content-center align-items-center col-6 textstyle">
        تتولى سنابل الإدارة التنظيمية والتشغيلية الشاملة من أجل ضمان وزيادة الربحية والإنتاج.
        <br>
        تقدم سنابل إدارة زراعية متكاملة ويتم احتساب اتعابها طبقا للانتاجية الفعلية .
                    </div>
      <div class="col-4 ">
     <div> <img class="st3" src="../../../assets/Mask group (2).png"/></div>
     <div><img  class="st4" src="../../../assets/Mask group (3).png"/></div>
     </div>
    </div>
  
     <div class="row d-flex justify-content-center text-center expert">
      
        <h2  class="text-center">استشر احد خبرائنا الان</h2>
     </div>
  
  </div>
  