@import url('../sanable-academy/sanable-academy.component.scss');
@import url('../feasibility-study/feasibility-study.component.scss');

div > .st2{
    width: 60%;
    height: 70%;
    z-index:10%;
    margin-top: -10%;
    margin-left: -1%;
    }
    div > .st4{
        width: 60%;
        height: 70%;
        z-index:10%;
        margin-top: -10%;
        margin-right: 75px;
        }

        div > .st3{
            width: 70%;
            height: 70%;
           z-index: -10px;
           margin-left:-20%;
          }