
<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/andscape-green-field 1.png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">معمل تحاليل سنابل</h2></div>
     </div>
  
     <div class="row d-flex justify-content-center text-center mt-4 mb-4">
       
          <div class="col-4 ">
            <div> <img class="st1" src="../../../assets/Mask group.png"/></div>
            <div><img  class="st2" src="../../../assets/Mask group (1).png"/></div>
          </div>
  
           <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            يعمل معمل سنابل على تقديم الأبحاث العلمية والخدمات المعملية لتشخيص الأمراض النباتية وتحليل التربة والمياه والأسمدة والمبيدات الزراعية وذلك يتم بإستخدام أحدث التقنيات.ويحرص المتخصصون في معمل سنابل على متابعة التطورات العلمية الحديثة وإستخدام أحدث الأجهزة المعملية والمتخصصة كجهاز البي سي آر مما يضمن دقة نتائج التحاليل.
            <br><br>
            جارى حاليا الانتهاء من الخطوات الاخيرة للحصول علي شهادة الأيزو رقم12345  
           </div>
     </div>

     <div class="row d-flex justify-content-center text-center expert">
      
        <h2  class="text-center">قائمة التحاليل المخبرية</h2>
     </div>

     <div class="row d-flex justify-content-center text-center align-items-center">
        <div class="col-2 ListLab card p-2 m-2">
            <h3 class="mb-4">تحليل التربة:</h3>
            <ul class="text-white">
                <li>&lArr;التحليل الكيميائي للتربة</li>
                <li>&lArr;التحليل الفيزيائي للتربة</li>
                <li>&lArr;ملوحة التربة</li>
            </ul>
        </div>

        <div class="col-2 ListLab card p-2 m-2">
            <h3 class="mb-4">تحليل المياه:</h3>
            <ul class="text-white">
                <li>&lArr;العناصر المعدنية</li>
                <li>&lArr;مبيدات حشرية</li>
                <li>&lArr;تقييمات المكونات النشطة</li>
            </ul>
        </div>
        <div class="col-2 ListLab card p-2 m-2">
            <h3 class="mb-4">تحليل أمراض النبات:</h3>
            <ul class="text-white">
                <li>&lArr;الفطريات (أمراض تعفن الجذور)</li>
                <li>&lArr;الأمراض البكتيرية (الأورام الجرثومية)</li>
                <li>&lArr;أمراض النبات الفيروسية والفيروسية</li>
                <li>&lArr;أمراض فيتوبلازما</li>
              
            </ul>
        </div>
        <div class="col-2 ListLab card p-2 m-2">
            <h4 class="mb-4 ">تحليل مبيدات الآفات والأسمدة:</h4>
            <ul class="text-white">
                <li>&lArr;المكونات النشطة للمبيدات بواسطة HPLC.</li>
                <li>&lArr;عناصر مكونات الأسمدة.</li>
            </ul>
        </div>
     </div>
     <div class="row d-flex justify-content-center text-center expert">
      
        <h2  class="text-center">استشر احد خبرائنا الان</h2>
     </div>
  
  </div>
  