
<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"style="background-image: url('../../../assets/lab .png');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">معمل تحاليل سنابل</h2></div>
     </div>
  
     <div class="row d-flex justify-content-center text-center ">
        <div class="col-8 introduction marintro">
            يعمل معمل سنابل على تقديم الأبحاث العلمية والخدمات المعملية لتشخيص الأمراض النباتية وتحليل التربة والمياه والأسمدة والمبيدات الزراعية وذلك يتم بإستخدام أحدث التقنيات.ويحرص المتخصصون في معمل سنابل على متابعة التطورات العلمية الحديثة وإستخدام أحدث الأجهزة المعملية والمتخصصة كجهاز البي سي آر مما يضمن دقة نتائج التحاليل.         </div>
     </div>

     <div class="row d-flex justify-content-center text-center mt-4">
     
        <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            <div class="mt-4">
                <p class="titlelab" >تحاليل التربة</p>
              <ul>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   التحليل الكيميائي للتربة</li>
                <li><img class="icon"src="../../../assets/Vector.png" width="20rem" height="20rem">   التحليل الفيزيائي للتربة</li>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   ملوحة التربة</li>
            </ul>   
           </div>  
       </div>
        <div class="col-4 ">
       <div> <img class="st3" src="../../../assets/Mask group (9).png"/></div>
       <div><img  class="st4" src="../../../assets/Mask group (10).png"/></div>
       </div>
      </div>

     <div class="row d-flex justify-content-center text-center mt-4">
     
        <div class="col-4 ">
          <div> <img class="st1" src="../../../assets/Mask group (11).png"/></div>
          <div><img  class="st2" src="../../../assets/Mask group (12).png"/></div>
        </div>

         <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            <div class="mt-4">
                <p style="font-weight: bold;">تحاليل المياه</p>
              <ul>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">  العناصر المعدنية</li>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   مبيدات حشرية</li>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   تقييمات المكونات النشطة</li>
            </ul>   
           </div>        
         </div>
     </div>

     <div class="row d-flex justify-content-center text-center mt-4">
     
        <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            <div class="mt-4">
                <p class="titlelab">تحاليل أمراض النبات</p>
              <ul>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   الفطريات (أمراض تعفن الجذور)</li>
                <li><img class="icon"src="../../../assets/Vector.png" width="20rem" height="20rem">   الأمراض البكتيرية (الأورام الجرثومية)</li>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   أمراض النبات الفيروسية والفيروسية</li>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   أمراض فيتوبلازما</li>
            </ul>   
           </div>  
       </div>
        <div class="col-4 ">
       <div> <img class="st3" src="../../../assets/Mask group (13).png"/></div>
       <div><img  class="st4" src="../../../assets/Mask group (15).png"/></div>
       </div>
      </div>

     <div class="row d-flex justify-content-center text-center mt-4">
     
        <div class="col-4 ">
          <div> <img class="st1" src="../../../assets/Mask group (16).png"/></div>
          <div><img  class="st2" src="../../../assets/Mask group (14).png"/></div>
        </div>

         <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            <div class="mt-4">
                <p class="titlelab"> تحاليل مبيدات الآفات والأسمدة</p>
              <ul>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">  المكونات النشطة للمبيدات بواسطة HPLC.</li>
                <li><img class="icon" src="../../../assets/Vector.png" width="20rem" height="20rem">   عناصر مكونات الأسمدة.</li>
            </ul>   
           </div>        
         </div>
     </div>

     <div class="row d-flex justify-content-center Academybtn  align-items-center" >
        <button class="card_button">احجز الأن</button>
    </div>

  
  </div>
  