/* You can add global styles to this file, and also import other style files */
*{
    
    direction: rtl;
    font-family: 'cairo';
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'cairo';
    src: url("./assets/fonts/Cairo-Regular.ttf");
  }

  .cairo{
    font-family: 'cairo';
  }
.Inter{
  font-family: 'Inter';
}
  @font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-Regular.ttf");
  }

  .whiteColor{
    color: white;
  }

  .blackColor{
    color: black;
  }
.greecolor{
  color:#527937;
}