.productus{
    height: 520px;
    background: no-repeat center ;
    background-size:cover;
    
  }
  .productus >div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productus> div h2{
  width: 390px;
  height: 70px;
  font-size: 28px;
  line-height: 65px;
  background-color: #EBB454;
  color:black;
  }

  div > .st1{
    width: 70%;
    height: 70%;
   z-index: -10px;
  }
  div > .st2{
  width: 70%;
  height: 70%;
  z-index:10%;
  margin-top: -10%;
  margin-left: -30%;
  }
  div > .st3{
    width: 70%;
    height: 70%;
   z-index: -10px;
   margin-left:-60%;
  }
  div > .st4{
  width: 70%;
  height: 70%;
  z-index:10%;
  margin-top: -10%;
  }
  .textstyle{
font-size: 22px;
line-height: 40px;
text-align: right;
color: #000000;
  }
  .expert > h2{
    margin-top: 80px;
    width: 340px;
    font-size: 28px;
    line-height: 65px;
    background-color: #EBB454;
    color:black;
  }

  @media screen and (max-width:420px) {
  .productus{
    height: 300px;
  }
  .productus> div h2{
    width: 238px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    }
    .textstyle{
      display: inline-block;
      font-size: 10px;
      line-height: 15px;
     }
     div > .st1{
      width: 90%;
      height: 90%;
     z-index: -10px;
    }
    div > .st2{
    width: 90%;
    height: 90%;
    z-index:10%;
    margin-top: -10%;
    margin-left: -30%;
    }
     div > .st3{
      width: 90%;
      height: 90%;
     z-index: -10px;  
    }
    div > .st4{
    width: 90%;
    height: 90%;
    z-index:10%;
    }
    .expert >h2{
      width: 200px;
      height: 30px;
      font-size: 18px;
      margin-top: 20px;
      line-height: 30px;
      }     
  }