.productus{
    height: 600px;
    background: no-repeat center ;
    background-size:cover;
    
  }
  .productus >div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productus> div h2{
  width: 390px;
  height: 70px;
  font-family: 'cairo';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 65px;
  background-color: #EBB454;
  color:black;
  }

  div > .st1{
    width: 70%;
    height: 70%;
   z-index: -10px;
  }
  div > .st2{
  width: 70%;
  height: 70%;
  z-index:10%;
  margin-top: -10%;
  margin-left: -30%;
  }
  div > .st3{
    width: 70%;
    height: 70%;
   z-index: -10px;
   margin-left:-30%;
  }
  div > .st4{
  width: 70%;
  height: 70%;
  z-index:10%;
  margin-top: -10%;
  }
  .textstyle{
font-family: 'Cairo';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 40px;
text-align: right;
color: #000000;
  }
  .expert > h2{
    margin-top: 80px;
    width: 390px;
    font-family: 'cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 65px;
    background-color: #EBB454;
    color:black;
  }