<div class="container-fluid  m-0 cairo">
    <div class="row d-flex justify-content-center text-center mb-2 productus"
         style="background-image: url('../../../assets/solar_16x9_2.jpg');" >
      <div class="text-center align-items-center">
        <h2  class="text-center">حلول الطاقة الشمسية</h2></div>
     </div>

     <div class="row d-flex justify-content-center text-center mb-4 mt-4">

          <div class="col-4">
            <div> <img class="st1" src="../../../assets/Mask group (4).png"/></div>
            <div><img  class="st2" src="../../../assets/Mask group (5).png"/></div>
          </div>

           <div class="d-flex justify-content-center align-items-center col-6 textstyle">
            تؤمن شركة سنابل بأهمية الطاقة النظيفة ودورها الفعال في ترشيد الإنبعاثات الكربونية التي لها تأثير سلبي على التغيرات المناخية بالإضافة إلى دور الطاقة النظيفة في ترشيد إستهلاك الوقود وتقليل التكلفة للمشاريع الزراعية.
<br>
            لذلك قامت شركة سنابل بالتعاون المثمر مع شركة المروة كمستورد رئيسي للألواح جينكو والتعاون مع الشركات المتخصصة في تركيب محطات الطاقة الشمسية وصيانتها.

           </div>
     </div>

     <div class="row d-flex justify-content-center align-items-center ">
      <div class="category text-center col-8">
       <!-- <button (click)="showProducts(Supcat.id)" class=" col-3" *ngFor="let Supcat of SupCategoriesList" [value]="Supcat.id">{{Supcat.name}}</button> -->
   </div>

   </div>
   <hr style="width:64%; margin-left:18% !important; margin-right:18% ; margin-top:-0.2% !important;" />

   <!-- <div class="row mb-3 d-flex justify-content-center " >
    <div class="col-3 card p-4 pb-0 border-0"  Ligth *ngFor="let pro of ProductsList; let i=index">
      <div animationDuration="2000ms" class="d-flex justify-content-center align-items-center showpro">
      <img class="card-img-top"  [src]="pro.url" alt="Card image cap">
      </div>
        <div class="card-body p-0" >
          <p class="align-items-right p-0 m-0">{{pro.name}}</p>
        </div>
    </div>
    </div> -->

    <div class="row d-flex justify-content-center text-center expert mb-4" >

      <a routerLink='/ContactUS' routerLinkActive="active" class="text-center">اطلب الان منتجاتنا</a>
   </div>

   </div>


